/* Estilos generales */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif; /* Cambié la fuente para darle un toque diferente */
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #4CAF50; /* Cambié el color del encabezado a un verde */
    color: #fff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

header:hover {
    background-color: #45a049; /* Cambié el color de fondo al pasar el cursor */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2rem;
    transition: color 0.3s ease;
}

header:hover h1 {
    color: #fff;
}

/* Navegación */
nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

nav a:hover {
    color: #4CAF50; /* Cambié el color al pasar el cursor */
    transform: translateY(-2px);
}

nav a:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

main {
    /* ... (otros estilos) */
    text-align: center; /* Alineación del texto centrada */
}

/* Texto dentro del contenido principal */
main p {
    text-align: left; /* Alineación del texto a la izquierda */
}

main h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    text-align: left; /* Alineación del h2 a la izquierda */
}

/* Animación de fondo */
.main-bg-animation {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #4CAF50, #45a049); /* Cambié los colores de la animación de fondo */
    top: 0;
    left: -100%;
    z-index: -1;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        left: -100%;
    }
    100% {
        left: 100%;
    }
}

/* Agrega esta regla para mostrar el h2 con animación cuando se desplaza hacia él */
main:hover h2 {
    opacity: 1;
    transform: translateY(0);
}

/* Formulario */
/* Estilos para el formulario */
form {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    background-color: #f9f9f9; /* Cambié el color de fondo del formulario */
    padding: 2rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    text-align: center; /* Alineación del texto centrada */
}

form input,
form textarea,
form input[type="submit"] {
    display: block;
    margin: 0;
    width: auto;
    text-align: left;
}

form textarea {
    height: 100px;
}

form input[type="submit"] {
    background-color: #4CAF50; /* Cambié el color del botón de envío */
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

/* Añadir transiciones a los campos de entrada y al botón de envío */
form input:hover,
form textarea:hover,
form input[type="submit"]:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Cambiar la escala y el color de fondo del botón de envío al pasar el cursor */
form input[type="submit"]:hover {
    background-color: #45a049; /* Cambio de color al pasar el cursor */
    color: #fff; /* Cambio de color de texto al pasar el cursor */
}

form p {
    text-align: left; /* Alineación del texto a la izquierda */
}

/* Estilos para el contenedor de información de usuario */
.user-info {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    display: flex;
}

/* Estilos para la lista de información */
.user-info ul {
    list-style-type: none;
    padding: 0;
    display: flex;
}

/* Estilos para los elementos de la lista */
.user-info ul li {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* Estilos para los elementos de la lista */
.user-info .info-item {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
    display: flex;
    align-items: center;
}

/* Estilos para los valores de información */
.user-info .info-item::before {
    content: attr(data-label);
    font-weight: bold;
    margin-right: 10px;
    width: 100px;
    text-align: right;
}

/* Estilos para los valores de información */
.user-info .info-item::after {
    content: ":";
    margin-right: 5px;
    color: #4CAF50; /* Cambié el color

